<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
              xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
<acl>
   <resource id="Magento_Backend::admin">
     <resource id="Embitel_Sample::main" title="Sample"translate="title"sortOrder="10">
      <resource id="Embitel_Sample::sample"title="Save Sample"translate="title"sortOrder="10"/>
    </resource>
   </resource>
  </resource>
 </acl>
</config>


